.header h1 {
  font-family: 'Comic Neue', cursive;
  color: whitesmoke;
  font-weight: 300;
  text-align: center;
  margin: 0 0 10px 0;
}

.header h3 {
  font-family: 'Comic Neue', cursive;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 200;
  margin: 10px;
}
